#shapes {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". shapes .";
	height: 100vh;
	> div {
		grid-area: shapes;

		#red-circle {
			height: 200px;
			width: 200px;
			background-color: rgb(173, 91, 161);
			margin-top: 30%;
			margin-left: 300px;
	}
}}
